<body>
	<h1> BCA Experimenting Homepage </h1>
	{% if user.is_authenticated %}
		<h2> <a href="{% url 'main_index:logout' %}">LOGOUT</a></h2>
		<h2> <a href="{% url 'member_list:member_index' %}">BCA Member Page </a></h2>
		<h2> <a href="{% url 'songs:index' %}">BCA Song Page</a></h2>
	{% else %}
		<h2> <a href="{% url 'main_index:signup' %}">Sign up</a> or <a href="{% url 'main_index:login' %}">LOGIN</a></h2>
		<h2> <a href="{% url 'member_list:member_index' %}">BCA Member Page </a></h2>
		<h2> <a href="{% url 'songs:index' %}">BCA Song Page</a></h2>
	{% endif %}
</body>